<footer class="footer au-footer au-footer--dark au-body au-body--dark" role="contentinfo">
  <div class="container">
    <nav class="au-footer__navigation" aria-label="footer navigation">
      <div class="col-md-3 col-sm-6">
        <h3 class="">Publishers</h3>
        <ul class="au-link-list">
          <li><a href="https://data.gov.au/user/login">Sign in</a></li>
          <li><a href="https://toolkit.data.gov.au/">Open data toolkit</a></li>
        </ul>
      </div>
    </nav>
    <nav class="au-footer__navigation" aria-label="footer navigation">
      <div class="col-md-3 col-sm-6">
        <h3 class="">Data.gov.au</h3>
        <ul class="au-link-list">
          <li><a href="https://data.gov.au/page/about">About</a></li>
          <li><a href="https://data.gov.au/suggest">Suggest a dataset</a></li>
          <li><a href="https://data.gov.au/page/privacy-policy">Privacy Policy</a></li>
          <li><a href="https://data.gov.au/#feedback">Give feedback</a></li></ul>
      </div>
    </nav>
    <nav class="au-footer__navigation" aria-label="footer navigation">
      <div class="col-md-3 col-sm-6">
        <h3 class="">Developers</h3>
        <ul class="au-link-list">
          <li><a target="_blank" rel="noopener noreferrer" href="https://data.gov.au/api/v0/apidocs/index.html">API Documentation</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://magda.io">Powered by Magda</a></li></ul>
      </div>
    </nav>
  </div>
</footer>
