<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="dcterms.publisher" content="Open Data Team" />
    <link rel="shortcut icon" href="https://toolkit.data.gov.au/assets/img/favicon.ico" type="image/vnd.microsoft.icon" />
    <meta name="dcterms.language" content="en" />
    <meta name="dcterms.identifier" content="https://toolkit.data.gov.au/" />
    <meta name="dcterms.format" content="text/html" />
    <meta name="dcterms.type" content="other" />
    <meta name="dcterms.date" content="2019-03-21T23:20+11:00" />
    <meta name="dcterms.creator" content="Open Data Team" />
    <meta name="dcterms.title" content="{{ site.title }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=0" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <link rel="schema.AGLSTERMS" href="http://www.agls.gov.au/agls/terms/" />
    <link rel="canonical" href="https://toolkit.data.gov.au/" />
    <link rel="shortlink" href="https://toolkit.data.gov.au/" />

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <link href="https://data.gov.au/api/v0/content/stylesheet.css" rel="stylesheet">
    <style>body { margin: 0; } .header { margin-bottom: 2rem; }</style>

    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

  </head>

